{% load i18n %}
<table class="table about-table">
  {% if account.game_id %}
  <tr>
    <td><i class="flaticon-id"></i></td>
    <th>{% trans 'Game ID' %}</th>
    <td>{{ account.game_id }}</td>
  </tr>
  {% endif %}
  {% if account.has_os %}
  <tr>
    <td><i class="flaticon-{{ account.os }}"></i></td>
    <th>{% trans 'Operating System' %}</th>
    <td>{{ account.os }}</td>
  </tr>
  {% endif %}
  {% if account.device %}
  <tr>
    <td>{% if account.has_os %}<i class="flaticon-{{ account.os }}"></i>{% endif %}</td>
    <th>{% trans 'Device' %}</th>
    <td>{{ account.device }}</td>
  </tr>
  {% endif %}
  {% if account.start_date %}
  <tr>
    <td><i class="flaticon-date"></i></td>
    <th>{% trans 'Start Date' %}</th>
    <td>{{ account.start_date }}</td>
  </tr>
  {% endif %}
  <tr>
    <td><i class="flaticon-date"></i></td>
    <th>{% trans 'Join Date' %}</th>
    <td>{{ account.creation }}</td>
  </tr>
</table>
