{% load i18n %}
{% load tools %}
{% load l10n %}
<div id="cardstat{{ card.id }}"></div>
<div class="card id-{{ card.student.id }}">
  <br><br>
        <p class="text-center">
        <div class="card-art" style="position:relative; width:300px; height:394px; margin:0 auto;">
            <div class="main-art" style="top:-10px; left:-10px; z-index:200; width:300px; height:395px">
                <img src="{{ card.art_url }}" alt="{{ card.name }}" class="card-image" width="300" height="395"></div>
            {% if card.special_front %}
                <div class="special-front" style="position:absolute; top:0px; left:0px; z-index:10;">
                    <img src="{{ card.special_front_url }}" alt="{{ card.name }}" width="300" height="395">
                </div>
            {% endif %}
            {% if card.front_top %}
                <div class="front-top" style="position:absolute; top:0px; left:0px; z-index:20;">
                    <img src="{{ card.front_top_url }}" alt="{{ card.name }}" width="187" height="84">
                </div>
            {% endif %}
            {% if card.front_bottom %}
                <div class="front-bottom" style="position:absolute; left:0px; bottom:0px; z-index:20;">
                    <img src="{{ card.front_bottom_url }}" alt="{{ card.name }}" width="300" height="127">
                </div>
            {% endif %}
            {% if card.front_name %}
                <div class="front-name" style="position:absolute; bottom:0px; right:0px; z-index:30;">
                    <img src="{{ card.front_name_url }}" alt="{{ card.name }}" width="234" height="117">
                </div>
            {% endif %}
            {% if card.front_rarity %}
                <div class="front-rarity" style="position:absolute; top:0px; left:0px; z-index:40;">
                    <img src="{{ card.front_rarity_url }}" alt="{{ card.name }}" width="140" height="70">
                </div>
            {% endif %}
            {% if card.front_weapon %}
                <div class="special-front" style="position:absolute; left:0px; bottom:0px; z-index:40;">
                    <img src="{{ card.front_weapon_url }}" alt="{{ card.name }}" width="46" height="46">
                </div>
            {% endif %}
        </div>
        </p>
            <h3 class="text-center fontx2">{{ card.name }}</h3>
        <br>
        <div class="card-statistics">
             {% for evolved, stats in card.stats_percent %}
              <div class="card-stats-inner">
              <div class="card-stats");">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-inherit changeLevel">
                    <input type="radio" name="options" autocomplete="off"> {% trans 'Level' %} <span class="level">1</span>
                  </label>
                  <div class="btn btn-inherit">
                    {% trans 'Level' %} <input type="number" name="changeLevelNumber" placeholder="??" min="2" max="{{ card.max_level|add:-1 }}">
                  </div>
                  <label class="btn btn-inherit changeLevel active">
                    <input type="radio" name="options" autocomplete="off" checked> {% trans 'Level' %} <span class="level">{{ card.max_level }}</span>
                  </label>
                </div>
                <br>
                {% for stat in stats %}
                <div class="row" data-stat="{{ stat.stat }}" data-levels='{{ stat.javascript_levels|safe }}'>
                  <div class="col-xs-2" id="{{ stat.name }}">{{ stat.name }}</div>
                  <div class="col-xs-2 text-right stat-value">{{ stat.value_max_level }}</div>
                  <div class="col-xs-8">
                    <div class="progress">
                      <div class="progress-bar progress-bar-default progress-bar-striped" id="{{ stat.stat }}"
                       role="progressbar"
                       style="width: {% localize off %}{{ stat.percent_max_level }}{% endlocalize %}%;">
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                {% endfor %}
              </div>
              </div>
                <br>
                {% endfor %}
        </div>
        <br>
        <table class="table about-table a-main">
            {% if card.japanese_name %}
                <tr>
                    <td><i class="flaticon-JP"></i></td>
                    <th>{% trans 'Name' %} ({% t 'Japanese' %})</th>
                    <td>{{ card.japanese_name }}</td>
                </tr>
            {% endif %}
            <br>
            {% if card.i_rarity %}
                <tr>
                    <td><i class="flaticon-star-empty"></i></td>
                    <th>{% trans 'Rarity' %}</th>
                    <td><img src="/static/img/i_rarity/{{ card.i_rarity }}.png"></td>
                </tr>
            {% endif %}
            {% if card.i_weapon %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Weapon' %}</th>
                    <td>{{ card.weapon }}</td>
                </tr>
            {% endif %}
            {% if card.i_card_type %}
                <tr>
                    <td><i class="flaticon-album"></i></td>
                    <th>{% trans 'Card Type' %}</th>
                    <td>{{ card.card_type }}</td>
                </tr>
            {% endif %}
            {% if card.subcard_effect == 0 %}
                <tr>
                    <td><i class="flaticon-about"></i></td>
                    <th>{% trans 'Subcard Effect' %}</th>
                    <td><i class="flaticon-delete"></i></td>
                </tr>
            {% else %}
                <tr>
                    <td><i class="flaticon-about"></i></td>
                    <th>{% trans 'Subcard Effect' %}</th>
                    <td><i class="flaticon-checked"></i></td>
                </tr>
            {% endif %}
            {% if card.obtain_method %}
                <tr>
                    <td><i class="flaticon-perfectlock"></i></td>
                    <th>{% trans 'Obtain Method' %}</th>
                    <td>{{ card.obtain_method|linebreaks }}</td>
                </tr>
            {% endif %}
        </table>

        <br>

        {% if card.japanese_skill_name %}
            <h2><i class="flaticon-skill">&nbsp;</i>Skill</h2>
        {% endif %}
        <br>
        <table class="table skill-table">
            <tr>
                <td>
                  <h4>{% trans 'Skill Name' %}</h4>
                  {{ card.japanese_skill_name }}
                  <h4>{% trans 'Skill SP' %}</h4>
                  {{ card.skill_SP }}
                  {% if card.skill_range %}
                      <h4>{% trans 'Skill Range' %}</h4>
                      {{ card.skill_range  }}
                  {% endif %}
                </td>
                <td>
                    {% if card.skill_comment %}
                        <h4>{% trans 'Skill Comment' %}</h4>
                        {{ card.skill_comment|linebreaks  }}
                    {% endif %}
                    {% if card.skill_preview %}
                        <h4>{% trans 'Skill Preview' %}</h4>
                        <a href="{{ card.skill_preview_url }}" target="_blank">
                        <img src="{{ card.skill_preview_url }}" alt="{% trans 'skill_preview' %}"></a>
                    {% endif %}
                </td>
{#                {% if card.skill_preview_url %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Skill Preview' %}</h4>#}
{#                      <a href="{{ card.skill_preview_url }}" target="_blank">#}
{#                                <img src="{{ card.skill_preview_url }}" alt="{% trans 'skill_preview' %}">#}
{#                            </a>#}
{#                    </td>#}
{#                {% endif %}#}
                <td>
                    {% if card.i_skill_affinity %}
                          <h4>{% trans 'Skill Affinity' %}</h4>
                          {{ card.skill_affinity  }}
                    {% endif %}
                    {% if card.action_skill_effects %}
                          <h4>{% trans 'Action Skill Effects' %}</h4>
                          {{ card.action_skill_effects|linebreaks  }}
                    {% endif %}
                    {% if card.action_skill_damage  %}
                          <h4>{% trans 'Action Skill Damage' %}</h4>
                          {{ card.action_skill_damage  }}
                    {% endif %}
                    {% if card.evolved_action_skill_damage  %}
                          <h4>{% trans 'Action Skill Damage' %} ({% t 'Evolved' %})</h4>
                          {{ card.evolved_action_skill_damage  }}
                    {% endif %}
                    {% if card.action_skill_combo %}
                          <h4>{% trans 'Action Skill Combo' %}</h4>
                          {{ card.action_skill_combo  }}
                    {% endif %}
                    {% if card.evolved_action_skill_combo %}
                          <h4>{% trans 'Action Skill combo' %} ({% t 'Evolved' %})</h4>
                          {{ card.evolved_action_skill_combo  }}
                    {% endif %}
                </td>
            </tr>
{#        </table>#}
{#        <table class="table skill-table-2">#}
{#            <tr>#}
{#                {% if card.action_skill_effects %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Action Skill Effects' %}</h4>#}
{#                      {{ card.action_skill_effects|linebreaks  }}#}
{#                    </td>#}
{#                {% endif %}#}
{#                {% if card.i_skill_affinity %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Skill Affinity' %}</h4>#}
{#                      {{ card.skill_affinity  }}#}
{#                    </td>#}
{#                {% endif %}#}
{#                {% if card.action_skill_damage  %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Action Skill Damage' %}</h4>#}
{#                      {{ card.action_skill_damage  }}#}
{#                    </td>#}
{#                {% endif %}#}
{#                {% if card.evolved_action_skill_damage  %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Action Skill Damage' %} ({% t 'Evolved' %})</h4>#}
{#                      {{ card.evolved_action_skill_damage  }}#}
{#                    </td>#}
{#                {% endif %}#}
{#                {% if card.action_skill_combo %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Action Skill Combo' %}</h4>#}
{#                      {{ card.action_skill_combo  }}#}
{#                    </td>#}
{#                {% endif %}#}
{#                {% if card.evolved_action_skill_combo %}#}
{#                    <td>#}
{#                      <h4>{% trans 'Action Skill combo' %} ({% t 'Evolved' %})</h4>#}
{#                      {{ card.evolved_action_skill_combo  }}#}
{#                    </td>#}
{#                {% endif %}#}
{#            </tr>#}
        </table>

        {% if card.japanese_nakayoshi_title %}
            <h2><i class="flaticon-max-bond">&nbsp;</i>Nakayoshi</h2>
        {%  endif %}
        <br>
        <table class="table nakayoshi-table">
            <tr>
                {% if card.nakayoshi_title %}
                    <td>
                      <h4>{% trans 'Nakayoshi Title' %}</h4>
                      {{ card.nakayoshi_title  }}
                    </td>
                {% endif %}
                {% if card.japanese_nakayoshi_title %}
                    <td>
                      <h4>{% trans 'Nakayoshi Title' %} ({% t 'Japanese' %})</h4>
                      {{ card.japanese_nakayoshi_title  }}
                    </td>
                {% endif %}
                {% if card.nakayoshi_skill_effect|linebreaks  %}
                    <td>
                      <h4>{% trans 'Nakayoshi Skill Effect' %}</h4>
                      {{ card.nakayoshi_skill_effect|linebreaks  }}
                    </td>
                {% endif %}
                {% if card.evolved_nakayoshi_skill_effect  %}
                    <td>
                      <h4>{% trans 'Nakayoshi Skill Effect' %} ({% t 'Evolved' %})</h4>
                      {{ card.evolved_nakayoshi_skill_effect  }}
                    </td>
                {% endif %}
                {% if card.nakayoshi_skill_target %}
                    <td>
                      <h4>{% trans 'Nakayoshi Skill Target' %}</h4>
                      {{ card.nakayoshi_skill_target  }}
                    </td>
                {% endif %}
                {% if card.evolved_nakayoshi_skill_target %}
                    <td>
                      <h4>{% trans 'Nakayoshi Skill Target' %} ({% t 'Evolved' %})</h4>
                      {{ card.evolved_nakayoshi_skill_target  }}
                    </td>
                {% endif %}
            </tr>
        </table>

        {% if card.charge_name %}
        <h2><i class="flaticon-times">&nbsp;</i>Charge </h2>
        {% endif %}
        <br>
        <table class="table nakayoshi-table">
            <tr>
                {% if card.charge_name %}
                    <td>
                      <h4>{% trans 'Charge Name' %}</h4>
                      {{ card.charge_name  }}
                    </td>
                {% endif %}
                {% if card.charge_hit %}
                    <td>
                      <h4>{% trans 'Charge Hit' %}</h4>
                      {{ card.charge_hit  }}
                    </td>
                {% endif %}
                {% if card.charge_damage %}
                    <td>
                      <h4>{% trans 'Charge Damage' %}</h4>
                      <br>
                      {{ card.charge_damage  }}
                    </td>
                {% endif %}
                {% if card.charge_range %}
                    <td>
                      <h4>{% trans 'Charge Range' %}</h4>
                      <br>
                      {{ card.charge_range  }}
                    </td>
                {% endif %}
                {% if card.charge_comment  %}
                    <td>
                      <h4>{% trans 'Charge Comment' %}</h4>
                      <br>
                      {{ card.charge_comment  }}
                    </td>
                {% endif %}
            </tr>
        </table>

{#            {% if card.skill_name %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill Name' %}</th>#}
{#                    <td>{{ card.skill_name }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.japanese_skill_name %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill Name' %} ({% t 'Japanese' %})</th>#}
{#                    <td>{{ card.japanese_skill_name }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.skill_SP %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill SP' %}</th>#}
{#                    <td>{{ card.skill_SP }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if range.skill_range %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill Range' %}</th>#}
{#                    <td>{{ range.skill_range|linebreaks  }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.skill_comment %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill Comment' %}</th>#}
{#                    <td>{{ card.skill_comment|linebreaks  }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.skill_preview_url %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill Preview' %}</th>#}
{#                    <td>#}
{#                        <a href="{{ card.skill_preview_url }}" target="_blank">#}
{#                            <img src="{{ card.skill_preview_url }}" alt="{% trans 'skill_preview' %}">#}
{#                        </a>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.action_skill_effects %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Action Skill Effects' %}</th>#}
{#                    <td>{{ card.action_skill_effects|linebreaks  }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.i_skill_affinity %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Skill Affinity' %}</th>#}
{#                    <td>{{ card.skill_affinity }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.action_skill_damage|linebreaks  %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Action Skill Damage' %}</th>#}
{#                    <td>{{ card.action_skill_damage }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.evolved_action_skill_damage|linebreaks  %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Action Skill Damage' %} ({% t 'Evolved' %})</th>#}
{#                    <td>{{ card.evolved_action_skill_damage }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.action_skill_combo %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Action Skill Combo' %}</th>#}
{#                    <td>{{ card.action_skill_combo }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.evolved_action_skill_combo %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-skill"></i></td>#}
{#                    <th>{% trans 'Action Skill combo' %} ({% t 'Evolved' %})</th>#}
{#                    <td>{{ card.evolved_action_skill_combo }}</td>#}
{#                </tr>#}
{#            {% endif %}#}

{#            {% if card.nakayoshi_title %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-max-bond"></i></td>#}
{#                    <th>{% trans 'Nakayoshi Title' %}</th>#}
{#                    <td>{{ card.nakayoshi_title }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.japanese_nakayoshi_title %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-max-bond"></i></td>#}
{#                    <th>{% trans 'Nakayoshi Title' %} ({% t 'Japanese' %})</th>#}
{#                    <td>{{ card.japanese_nakayoshi_title }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.nakayoshi_skill_effect|linebreaks  %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-max-bond"></i></td>#}
{#                    <th>{% trans 'Nakayoshi Skill Effect' %}</th>#}
{#                    <td>{{ card.nakayoshi_skill_effect }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.evolved_nakayoshi_skill_effect|linebreaks  %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-max-bond"></i></td>#}
{#                    <th>{% trans 'Nakayoshi Skill Effect' %} ({% t 'Evolved' %})</th>#}
{#                    <td>{{ card.evolved_nakayoshi_skill_effect }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.nakayoshi_skill_target %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-max-bond"></i></td>#}
{#                    <th>{% trans 'Nakayoshi Skill Target' %}</th>#}
{#                    <td>{{ card.nakayoshi_skill_target }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.evolved_nakayoshi_skill_target %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-max-bond"></i></td>#}
{#                    <th>{% trans 'Nakayoshi Skill Target' %} ({% t 'Evolved' %})</th>#}
{#                    <td>{{ card.evolved_nakayoshi_skill_target }}</td>#}
{#                </tr>#}
{#            {% endif %}#}

{#            {% if card.charge_name %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-times"></i></td>#}
{#                    <th>{% trans 'Charge Name' %}</th>#}
{#                    <td>{{ card.charge_name }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.charge_hit %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-times"></i></td>#}
{#                    <th>{% trans 'Charge Hit' %}</th>#}
{#                    <td>{{ card.charge_hit }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.charge_damage %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-times"></i></td>#}
{#                    <th>{% trans 'Charge Damage' %}</th>#}
{#                    <td>{{ card.charge_damage }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.charge_range %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-times"></i></td>#}
{#                    <th>{% trans 'Charge Range' %}</th>#}
{#                    <td>{{ card.charge_range }}</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            {% if card.charge_comment|linebreaks  %}#}
{#                <tr>#}
{#                    <td><i class="flaticon-times"></i></td>#}
{#                    <th>{% trans 'Charge Comment' %}</th>#}
{#                    <td>{{ card.charge_comment }}</td>#}
{#                </tr>#}
{#            {% endif %}#}

            {% if user.is_staff %}
                <tr>
                    <td><i class="flaticon-edit"></i></td>
                    <th>{% trans 'Edit' %}</th>
                    <td>
                        <a href="/cards/edit/{{ card.id }}/"
                           class="btn btn-lg btn-main"><i class="flaticon-edit"></i></a>
                    </td>
                </tr>
            {% endif %}
        </table>
    <table class="card-basic-info" width="100%">
      <tr>
          <td>
              <h4>{% trans 'Belongs to' %}</h4>
              {% if card.cached_total_owners %}
                  {% with total=card.cached_total_owners %}
                      {% blocktrans count counter=total %}{{ total }} sensei{% plural %}{{ total }} sensei's
                      {% endblocktrans %}
                  {% endwith %}<br>
                  <a class="view-all" href="/accounts/?own_card={{ card.id }}" target="_blank">
                      {% trans 'View all' %}
                      <i class="flaticon-link fontx0-8"></i>
                  </a>
              {% else %}
                  0 sensei's :(
              {% endif %}
          </td>
          <td>
              <h4>{% trans 'Comments' %}</h4>
              <a href="{{ card.item_url }}#disqus_thread" class="btn btn-id-{{ card.student.id }} btn-lg"
                      {% if current != 'current-card_item' %} target="_blank"{% endif %}>
                  <i class="flaticon-comments"></i> {% trans 'Comments' %}
              </a>
          </td>
          <td>
              <h4>{% trans 'Share' %}</h4>
              <span class="btn-grouph">
	    {% include 'include/share.html' with share_url=card.http_item_url share_btn_class=card.student.id|add:' btn-lg' share_sentence=card %}
	  </span>
          </td>
      </tr>
    </table>
  </div>
