{% load i18n %}
{% load tools %}
{% load l10n %}
<div id="cardstat{{ card.id }}"></div>
<div class="card {{ card.english_type }}">
  <br><br>
        <p class="text-center">
        <div class="card-art" style="position:relative; width:300px; height:394px; margin:0 auto;">
            <div class="main-art" style="top:-10px; left:-10px; z-index:200;">
                <img src="{{ card.art_url }}" alt="{{ card.name }}" class="card-image"></div>
            {% if card.special_front %}
                <div class="special-front" style="position:absolute; top:0px; left:0px; z-index:10;">
                    <img src="{{ card.special_front_url }}" alt="{{ card.name }}">
                </div>
            {% endif %}
            {% if card.front_top %}
                <div class="front-top" style="position:absolute; top:0px; left:0px; z-index:20;">
                    <img src="{{ card.front_top_url }}" alt="{{ card.name }}">
                </div>
            {% endif %}
            {% if card.front_bottom %}
                <div class="front-bottom" style="position:absolute; left:0px; bottom:0px; z-index:20;">
                    <img src="{{ card.front_bottom_url }}" alt="{{ card.name }}">
                </div>
            {% endif %}
            {% if card.front_name %}
                <div class="front-name" style="position:absolute; bottom:0px; right:0px; z-index:30;">
                    <img src="{{ card.front_name_url }}" alt="{{ card.name }}">
                </div>
            {% endif %}
            {% if card.front_rarity %}
                <div class="front-rarity" style="position:absolute; top:0px; left:0px; z-index:40;">
                    <img src="{{ card.front_rarity_url }}" alt="{{ card.name }}">
                </div>
            {% endif %}
            {% if card.front_weapon %}
                <div class="special-front" style="position:absolute; left:0px; bottom:0px; z-index:40;">
                    <img src="{{ card.front_weapon_url }}" alt="{{ card.name }}">
                </div>
            {% endif %}
        </div>
        </p>
        {% if current == 'card_item' %}
            <h3 class="text-center fontx2">{{ card.name }}</h3>
        {% endif %}
        <br>
        <div class="card-statistics">
             {% for awakened, stats in card.stats_percent %}
                <div class="card-art{% if awakened %}-awakened{% endif %}" style="background-image: url('{% if awakened %}{% if card.art_awakened %}{{ card.art_awakened_url }}{% else %}{{ static_url }}img/backgrounds/background1.png{% endif %}{% else %}{% if card.art %}{{ card.art_url }}{% else %}{{ static_url }}img/backgrounds/background0.png{% endif %}{% endif %}');">
                <div class="cards-stats-inner-inner"{% if awakened and not card.art_awakened %} style="background-image: url('{{ card.transparent_awakened_url }}');"{% elif not awakened and not card.art %} style="background-image: url('{{ card.transparent_url }}');"{% endif %}>
                  <div class="card-stats-inner">
                  <div class="card-stats" style="background-image: url('{% if awakened %}{{ card.puchi_awakened_url }}{% else %}{{ card.puchi_url }}{% endif %}');">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-inherit changeLevel">
                    <input type="radio" name="options" autocomplete="off"> {% trans 'Level' %} <span class="level">1</span>
                  </label>
                  <div class="btn btn-inherit">
                    {% trans 'Level' %} <input type="number" name="changeLevelNumber" placeholder="??" min="2" max="{% if awakened %}{{ card.max_level_awakened|add:-1 }}{% else %}{{ card.max_level|add:-1 }}{% endif %}">
                  </div>
                  <label class="btn btn-inherit changeLevel active">
                    <input type="radio" name="options" autocomplete="off" checked> {% trans 'Level' %} <span class="level">{% if awakened %}{{ card.max_level_awakened }}{% else %}{{ card.max_level }}{% endif %}</span>
                  </label>
                </div>
                <br>
                {% for stat in stats %}
                <div class="row" data-stat="{{ stat.stat }}" data-levels='{{ stat.javascript_levels|safe }}'>
                  <div class="col-xs-2">{{ stat.name }}</div>
                  <div class="col-xs-2 text-right stat-value">{{ stat.value_max_level }}</div>
                  <div class="col-xs-8">
                    <div class="progress">
                      <div class="progress-bar progress-bar-default progress-bar-striped"
                       role="progressbar"
                       style="width: {% localize off %}{{ stat.percent_max_level }}{% endlocalize %}%;">
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                  </div>
                </div>
                </div>
                </div>
                {% endfor %}
        </div>
        <br>
        <table class="table about-table a-main">
            {% if card.japanese_name %}
                <tr>
                    <td><i class="flaticon-JP"></i></td>
                    <th>{% trans 'Name' %} ({% t 'Japanese' %})</th>
                    <td>{{ card.japanese_name }}</td>
                </tr>
            {% endif %}
            <span class="btn-group">
	  {% include 'include/share.html' with share_url=card.http_item_url share_btn_class=card.english_type|add:" btn-lg" share_sentence=card %}
	</span>
            {% if card.i_rarity %}
                <tr>
                    <td><i class="flaticon-star-empty"></i></td>
                    <th>{% trans 'Rarity' %}</th>
                    <td>{{ card.rarity }}</td>
                </tr>
            {% endif %}
            {% if card.i_weapon %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Weapon' %}</th>
                    <td>{{ card.weapon }}</td>
                </tr>
            {% endif %}
            {% if card.i_card_type %}
                <tr>
                    <td><i class="flaticon-album"></i></td>
                    <th>{% trans 'Card Type' %}</th>
                    <td>{{ card.card_type }}</td>
                </tr>
            {% endif %}
            {% if card.subcard_effect == 0 %}
                <tr>
                    <td><i class="flaticon-about"></i></td>
                    <th>{% trans 'Subcard Effect' %}</th>
                    <td><i class="flaticon-delete"></i></td>
                </tr>
            {% else %}
                <tr>
                    <td><i class="flaticon-about"></i></td>
                    <th>{% trans 'Subcard Effect' %}</th>
                    <td><i class="flaticon-checked"></i></td>
                </tr>
            {% endif %}
            {% if card.obtain_method %}
                <tr>
                    <td><i class="flaticon-perfectlock"></i></td>
                    <th>{% trans 'Obtain Method' %}</th>
                    <td>{{ card.obtain_method }}</td>
                </tr>
            {% endif %}
            {% if card.art_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Art' %}</th>
                    <td>
                        <a href="{{ card.art_url }}" target="_blank">
                            <img src="{{ card.art_url }}" alt="{% trans 'art' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.front_top_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Front Top' %}</th>
                    <td>
                        <a href="{{ card.front_top_url }}" target="_blank">
                            <img src="{{ card.front_top_url }}" alt="{% trans 'front_top' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.front_bottom_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Front Bottom' %}</th>
                    <td>
                        <a href="{{ card.front_bottom_url }}" target="_blank">
                            <img src="{{ card.front_bottom_url }}" alt="{% trans 'front_bottom' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.front_name_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Front Name' %}</th>
                    <td>
                        <a href="{{ card.front_name_url }}" target="_blank">
                            <img src="{{ card.front_name_url }}" alt="{% trans 'front_name' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.front_rarity_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Front Rarity' %}</th>
                    <td>
                        <a href="{{ card.front_rarity_url }}" target="_blank">
                            <img src="{{ card.front_rarity_url }}" alt="{% trans 'front_rarity' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.front_weapon_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Front Weapon' %}</th>
                    <td>
                        <a href="{{ card.front_weapon_url }}" target="_blank">
                            <img src="{{ card.front_weapon_url }}" alt="{% trans 'front_weapon' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.transparent_url %}
                <tr>
                    <td><i class="flaticon-pictures"></i></td>
                    <th>{% trans 'Transparent' %}</th>
                    <td>
                        <a href="{{ card.transparent_url }}" target="_blank">
                            <img src="{{ card.transparent_url }}" alt="{% trans 'transparent' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.skill_name %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill Name' %}</th>
                    <td>{{ card.skill_name }}</td>
                </tr>
            {% endif %}
            {% if card.japanese_skill_name %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill Name' %} ({% t 'Japanese' %})</th>
                    <td>{{ card.japanese_skill_name }}</td>
                </tr>
            {% endif %}
            {% if card.skill_SP %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill SP' %}</th>
                    <td>{{ card.skill_SP }}</td>
                </tr>
            {% endif %}
            {% if range.skill_range %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill Range' %}</th>
                    <td>{{ range.skill_range }}</td>
                </tr>
            {% endif %}
            {% if card.skill_comment %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill Comment' %}</th>
                    <td>{{ card.skill_comment }}</td>
                </tr>
            {% endif %}
            {% if card.skill_preview_url %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill Preview' %}</th>
                    <td>
                        <a href="{{ card.skill_preview_url }}" target="_blank">
                            <img src="{{ card.skill_preview_url }}" alt="{% trans 'skill_preview' %}">
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if card.action_skill_effects %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Action Skill Effects' %}</th>
                    <td>{{ card.action_skill_effects }}</td>
                </tr>
            {% endif %}
            {% if card.i_skill_affinity %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Skill Affinity' %}</th>
                    <td>{{ card.skill_affinity }}</td>
                </tr>
            {% endif %}
            {% if card.action_skill_damage %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Action Skill Damage' %}</th>
                    <td>{{ card.action_skill_damage }}</td>
                </tr>
            {% endif %}
            {% if card.evolved_action_skill_damage %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Action Skill Damage' %} ({% t 'Evolved' %})</th>
                    <td>{{ card.evolved_action_skill_damage }}</td>
                </tr>
            {% endif %}
            {% if card.action_skill_combo %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Action Skill Combo' %}</th>
                    <td>{{ card.action_skill_combo }}</td>
                </tr>
            {% endif %}
            {% if card.evolved_action_skill_combo %}
                <tr>
                    <td><i class="flaticon-skill"></i></td>
                    <th>{% trans 'Action Skill combo' %} ({% t 'Evolved' %})</th>
                    <td>{{ card.evolved_action_skill_combo }}</td>
                </tr>
            {% endif %}
            {% if card.nakayoshi_title %}
                <tr>
                    <td><i class="flaticon-max-bond"></i></td>
                    <th>{% trans 'Nakayoshi Title' %}</th>
                    <td>{{ card.nakayoshi_title }}</td>
                </tr>
            {% endif %}
            {% if card.japanese_nakayoshi_title %}
                <tr>
                    <td><i class="flaticon-max-bond"></i></td>
                    <th>{% trans 'Nakayoshi Title' %} ({% t 'Japanese' %})</th>
                    <td>{{ card.japanese_nakayoshi_title }}</td>
                </tr>
            {% endif %}
            {% if card.nakayoshi_skill_effect %}
                <tr>
                    <td><i class="flaticon-max-bond"></i></td>
                    <th>{% trans 'Nakayoshi Skill Effect' %}</th>
                    <td>{{ card.nakayoshi_skill_effect }}</td>
                </tr>
            {% endif %}
            {% if card.evolved_nakayoshi_skill_effect %}
                <tr>
                    <td><i class="flaticon-max-bond"></i></td>
                    <th>{% trans 'Nakayoshi Skill Effect' %} ({% t 'Evolved' %})</th>
                    <td>{{ card.evolved_nakayoshi_skill_effect }}</td>
                </tr>
            {% endif %}
            {% if card.nakayoshi_skill_target %}
                <tr>
                    <td><i class="flaticon-max-bond"></i></td>
                    <th>{% trans 'Nakayoshi Skill Target' %}</th>
                    <td>{{ card.nakayoshi_skill_target }}</td>
                </tr>
            {% endif %}
            {% if card.evolved_nakayoshi_skill_target %}
                <tr>
                    <td><i class="flaticon-max-bond"></i></td>
                    <th>{% trans 'Nakayoshi Skill Target' %} ({% t 'Evolved' %})</th>
                    <td>{{ card.evolved_nakayoshi_skill_target }}</td>
                </tr>
            {% endif %}
            {% if card.charge_name %}
                <tr>
                    <td><i class="flaticon-times"></i></td>
                    <th>{% trans 'Charge Name' %}</th>
                    <td>{{ card.charge_name }}</td>
                </tr>
            {% endif %}
            {% if card.charge_hit %}
                <tr>
                    <td><i class="flaticon-times"></i></td>
                    <th>{% trans 'Charge Hit' %}</th>
                    <td>{{ card.charge_hit }}</td>
                </tr>
            {% endif %}
            {% if card.charge_damage %}
                <tr>
                    <td><i class="flaticon-times"></i></td>
                    <th>{% trans 'Charge Damage' %}</th>
                    <td>{{ card.charge_damage }}</td>
                </tr>
            {% endif %}
            {% if card.charge_range %}
                <tr>
                    <td><i class="flaticon-times"></i></td>
                    <th>{% trans 'Charge Range' %}</th>
                    <td>{{ card.charge_range }}</td>
                </tr>
            {% endif %}
            {% if card.charge_comment %}
                <tr>
                    <td><i class="flaticon-times"></i></td>
                    <th>{% trans 'Charge Comment' %}</th>
                    <td>{{ card.charge_comment }}</td>
                </tr>
            {% endif %}
            {% if user.is_staff %}
                <tr>
                    <td><i class="flaticon-edit"></i></td>
                    <th>{% trans 'Edit' %}</th>
                    <td>
                        <a href="/cards/edit/{{ card.id }}/"
                           class="btn btn-lg btn-main"><i class="flaticon-edit"></i></a>
                    </td>
                </tr>
            {% endif %}
        </table>
    <table class="card-basic-info">
      <tr>
	{% if card.cached_total_owners %}
	<td>
	  <h4>{% trans 'Scouted by' %}</h4>
	  {% with total=card.cached_total_owners %}
	  {% blocktrans count counter=total %}{{ total }} producer{% plural %}{{ total }} producers{% endblocktrans %}
	  {% endwith %}<br>
	  <a href="/accounts/?own_card={{ card.id }}" target="_blank">
	    {% trans 'View all' %}
	    <i class="flaticon-link fontx0-8"></i>
	  </a>
	</td>
	{% endif %}
	{% if card.cached_total_favorites %}
	<td>
	  <h4>{% trans 'Favorited by' %}</h4>
	  {% with total=card.cached_total_favorites %}
	  {% blocktrans count counter=total %}{{ total }} producer{% plural %}{{ total }} producers{% endblocktrans %}
	  {% endwith %}<br>
	  <a href="/accounts/?favorite_card={{ card.id }}" target="_blank">
	    {% trans 'View all' %}
	    <i class="flaticon-link fontx0-8"></i>
	  </a>
	</td>
	{% endif %}
	<td>
	  <h4>{% trans 'Comments' %}</h4>
      <a href="{{ card.item_url }}#disqus_thread" class="btn btn-{{ card.english_type }} btn-lg"{% if current != 'current-card_item' %} target="_blank"{% endif %}>
	<i class="flaticon-comments"></i> {% trans 'Comments' %}
      </a>
	</td>
	<td>
	  <h4>{% trans 'Share' %}</h4>
	  <span class="btn-grouph">
	    {% include 'include/share.html' with share_url=card.http_item_url share_btn_class=card.english_type|add:' btn-lg' share_sentence=card %}
	  </span>
	</td>
      </tr>
    </table>
  </div>
