{% load i18n %}
{% with card=item %}
    {% if page == 1 and forloop.counter0 == 0 %}
        <div id="topcards"></div>{% endif %}
    <div class="card {{ card.english_weapon }}" data-card-title="{{ card }}" id="card{{ card.id }}">
        <div class="title">
            <div class="card-images">
                <a href="{{ card.item_url }}" data-ajax-url="{{ card.ajax_item_url }}" data-ajax-title="{{ card }}">
                    <div class="card-icon" style="position:relative">
                        <img src="{{ card.image_url }}" alt="{{ card.name }}" class="card-image">
                        {% if card.special_icon %}
                            <div class="special-icon" style="position:absolute; top:0px; left:45px;">
                                <img src="{{ card.special_icon_url }}" alt="{{ card.name }}" height="402px">
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="card-title">
                <h2>{{ card.name }}</h2>
            </div>
        </div>
        <div class="card-buttons">
            <a href="{% if current == 'card_item' and not collection %}#cardstat{{ card.id }}{% else %}{{ card.item_url }}{% endif %}"
               data-toggle="tooltip" data-trigger="hover" title="{% trans 'Card Info' %}" data-placement="bottom"
               data-delay="0" {% if current != 'card_item' %}data-ajax-url="/ajax/card/{{ card.id }}/"{% endif %}
               {% if current == 'card_item' %}class="page-scroll"{% endif %}><i class="flaticon-about"></i></a>
            <a href="#" class="info-loader" style="display: none;"><i class="flaticon-loading"></i></a>
            <a href="{{ card.item_url }}?collection"
               {% if current != 'card_item' %}data-ajax-url="/ajax/cardcollection/{{ card.id }}/"
               data-ajax-title="{{ card }}"{% endif %}
               data-toggle="tooltip" data-trigger="hover"
               title="{% trans 'Your cards' %}" data-placement="bottom" class="total-button-wrapper"><span
                    class="edit-total-button"><i class="flaticon-add"></i></span></a>
        </div>
    </div>
{#    {% if current != 'card_list' and current != 'card_list_ajax' and current != 'addcard_ajax' and current != 'favoritecard_ajax' %}#}
{#        {% if collection %}#}
{#            {% include 'include/cards-collection.html' %}#}
{#        {% else %}#}
{#            {% include 'include/cards-stats.html' %}#}
{#        {% endif %}#}
{#    {% endif %}#}
{% endwith %}
