{% load magi_tags %}
{% with irousvariation=item %}
    <div class="irousinfo">
        <div class="icon">
            <img src="{{ irousvariation.image_url }}" alt="{{ irousvariation }}">
        </div>
        <div class="irousdetails">
            <div class="irousname">
                <h3>Irous name: {{ irousvariation.name }}</h3>
                Japanese name: {{ irousvariation.japanese_name }}
            </div>
            <div class="affinity">
                <h4>Weapon affinity</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Weak against</th>
                        <th>Strong against</th>
                        <th>Guard against</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{% for weap in weak %}<a href="/cards/?i_weapon={{ weap }}" target="_blank"> <img
                                src="/static/img/i_weapon/{{ weap }}.png"> </a> {% endfor %} </td>
                        <td>{% for weap in strong %}<a href="/cards/?i_weapon={{ weap }}" target="_blank"> <img
                                src="/static/img/i_weapon/{{ weap }}.png"> </a> {% endfor %} </td>
                        <td>{% for weap in guard %}<a href="/cards/?i_weapon={{ weap }}" target="_blank"> <img
                                src="/static/img/i_weapon/{{ weap }}.png"> </a> {% endfor %} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="species">
                <h3>Is a
                    {% if irousvariation.is_large_irous %}
                        large
                    {% else %}
                        small
                    {% endif %}
                    variation of the
                    <a href="/irousvariations/?species={{ irousvariation.species_id }}">
                        <b>
                            {% if irousvariation.species.name != 11 %}
                                {{ irousvariation.species.english_name }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </b>
                    </a>
                    species</h3>
            </div>
            <div class="stages"><h4>Appears in stage:</h4>
                <table style="width: 100%;" align="center">
                    <tr>
                        {% for stage in irousvariation.get_stages %}
                            <td align="center">
                                <a href="{{ stage.item_url }}">
                                    <b>{{ stage }}</b>
                                </a>
                            </td>
                            {% if forloop.counter|divisibleby:6 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endfor %}
                        </tr>
                </table>
            </div>
        </div>
    </div>
{% endwith %}