{% load magi_tags %}
{% load tools %}
{% with stage=item %}
    <div class="stage-data">
        <div class="stage-title">
            <h2>Part {{ stage.part }} - Episode {{ stage.episode }}</h2>
            <h3>{{ stage.name }}</h3>
        </div>
        <br>
        <br>
        <div class="nav-buttons">
            <div class="row">
                <div class="col-md-6"> {% if stage.prev_stage %}<a {% if current == 'stage_item_ajax' %}data-ajax-url="{{ stage.prev_stage.ajax_item_url }}" {% endif %}href="{{ stage.prev_stage.item_url }}">
                    <button type="button prev" class="btn btn-primary btn-lg pull-left">Previous stage</button>
                </a> {% endif %} </div>
                <div class="col-md-6"> {% if stage.next_stage %}<a {% if current == 'stage_item_ajax' %}data-ajax-url="{{ stage.next_stage.ajax_item_url }}" {% endif %}href="{{ stage.next_stage.item_url }}">
                    <button type="button next" class="btn btn-primary btn-lg pull-right">Next stage</button>
                </a> {% endif %} </div>
            </div>
        </div>
        <br>
        <br>
        <div class="difficulties">
            {% for diff in stage.stage_with_difficulty.all %}
                <div class="{{ diff.english_difficulty }}">
                    <div class="row info">
                        <div class="col-md-4"><h3>{{ diff.english_difficulty }}</h3></div>
                        <div class="col-md-8"><h4>Level {{ diff.level }}</h4></div>
                    </div>
                    <div class="row misc">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6 reward-title">
                                    <img src="/static/img/battle/exp.png" alt="EXP">
                                </div>
                                <div class="col-md-6 reward-value">
                                    {{ diff.exp }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 reward-title">
                                    <img src="/static/img/battle/coin.png" alt="Coins">
                                </div>
                                <div class="col-md-6 reward-value">
                                    {{ diff.coins }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 reward-title">
                                    <img src="/static/img/battle/cheerpoint.png" alt="Cheerpoints">
                                </div>
                                <div class="col-md-6 reward-value">
                                    {{ diff.cheerpoints }}</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="/static/img/battle/box.png" style="width: 15%;" alt="Drops">
                            {{ diff.drops|linebreaks }}</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" align="left"><h5>Mission</h5>
                            {{ diff.objectives|linebreaks }}</div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
        <div class="row irous">
            <div class="col-md-6 stage-irous-container">
                <h4>Small Irous</h4>
                <table class="table">
                    {% for small in stage.small_irous.all %}
                        <tr>
                            <td><a href="{{ small.item_url }}" target="_blank"> <img src="{{ small.image_url }}"> </a>
                            </td>
                            <td> {{ small }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6 large-irous-container">
                <h4>Large Irous</h4>
                <table class="table">
                    {% for large in stage.large_irous.all %}
                        <tr>
                            <td> {{ large }} </td>
                            <td><a href="{{ large.item_url }}" target="_blank"><img src="{{ large.image_url }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endwith %}