@import "main.less";
@import "mixins/buttons.less";
@import "mixins/a.less";

@mainColor: #00CED1; //#7a66d6
@secondaryColor: #3664a8;
@darkColor: #545454;

@gradient1: #00bfff;
@gradient2: #a68dfc;
@gradient3: #71c4ff;
@gradient4: #79e098;

@font-face {
    font-family: 'Humming'; /*a name to be used later*/
    src: url('/static/font/HummingSTD.otf'); /*URL to font*/
}

@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 700;
    src: local("Teko Bold"), local("Teko-Bold"), url("https://fonts.gstatic.com/s/teko/v6/vZNHrtAXYeQN4tfAPqsxxw.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    src: local('Nova Square'), local('NovaSquare'), url(http://fonts.gstatic.com/s/novasquare/v8/YsNHj2Yx5KzHzIjNe-czdI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    src: local('Electrolize'), local('Electrolize-Regular'), url(http://fonts.gstatic.com/s/electrolize/v5/DDy9sgU2U7S4xAwH5thnJ44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
    .setup-sidebar(@mainColor);
    .magicircles(@mainColor, @secondaryColor);
}

// Character colors
.id-1{a {color:#F08080}.btn{background-color:#F08080}}// Miki
.id-2{a {color:#32CD32}.btn{background-color:#32CD32}}// Subaru
.id-3{a {color:#AFEEEE}.btn{background-color:#AFEEEE}}// Haruka
.id-4{a {color:#ffc423}.btn{background-color:#ffc423}}// Nozomi
.id-5{a {color:#ff9623}.btn{background-color:#ff9623}}// Yuri
.id-6{a {color:#ADFF2F}.btn{background-color:#ADFF2F}}// Kurumi
.id-7{a {color:#DB7093}.btn{background-color:#DB7093}}// Anko
.id-8{a {color:#DA70D6}.btn{background-color:#DA70D6}}// Renge
.id-9{a {color:#6495ED}.btn{background-color:#6495ED}}// Asuha
.id-10{a {color:#DEB887}.btn{background-color:#DEB887}}// Sakura
.id-11{a {color:#f8ff2a}.btn{background-color:#f8ff2a}}// Hinata
.id-12{a {color:#DDA0DD}.btn{background-color:#DDA0DD}}// Kaede
.id-13{a {color:#FFF8DC}.btn{background-color:#FFF8DC}}// Michelle
.id-14{a {color:#E0FFFF}.btn{background-color:#E0FFFF}}// Kokomi
.id-15{a {color:#FFC0CB}.btn{background-color:#FFC0CB}}// Urara
.id-16{a {color:#3CB371}.btn{background-color:#3CB371}}// Sadone
.id-17{a {color:#EEE8AA}.btn{background-color:#EEE8AA}}// Kanon
.id-18{a {color:#5F9EA0}.btn{background-color:#5F9EA0}}// Shiho
.id-19{a {color:#b22222}.btn{background-color:#b22222}}// Misaki
.id-101{a {color:#f5f5f5}.btn{background-color:#f5f5f5}}// Mari
.id-102{a {color:#4169e1}.btn{background-color:#4169e1}}// Icchan
.id-103{a {color:#cd5c5c}.btn{background-color:#cd5c5c}}// Fuuchan
.id-104{a {color:#6495ED}.btn{background-color:#6495ED}}// Loliazu

// Main page

.current-activity_list {
    .home-site-description {
        background-image: url("/static/img/home-site-description-bg.png");
        background-size: 800px 65px;
        background-position: center top;
        background-repeat: no-repeat;
        color: #ffffff;
        text-shadow: 2px 2px 3px @darkColor;
        font-family: 'Electrolize', monospace;
        font-style: italic;
        font-size: 30px;
        line-height: 65px;
        height: 65px;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .home-about-game-button {
        font-family: 'Electrolize', monospace !important;
        font-style: italic;
        font-size: 20px;
        color: black !important;
    }

    .home-about-site-button {
        font-family: 'Electrolize', monospace !important;
        font-style: italic;
        font-size: 20px;
        color: black !important;
    }

    .padding50.no-result-wrapper {
        background: transparent;
        border: none;
    }

    .nav-tabs {
        li {
            a {
                color: @darkColor;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        li.active {
            a {
                color: @mainColor;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    background-image: url("/static/img/mainpage_bg.jpg");
    background-size: cover; // Make image not resize
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;

    #wrapper {
        background-image: url("/static/img/light_orbs/small.png"),
        url("/static/img/light_orbs/normal.png"),
        url("/static/img/light_orbs/big.png");
        background-attachment: fixed;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-animation: wrapper 20s linear infinite;
        -moz-animation: wrapper 20s linear infinite;
        -ms-animation: wrapper 20s linear infinite;
        animation: wrapper 20s linear infinite;
    }
    @keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
    @-moz-keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
    @-webkit-keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
    @-ms-keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
}

body {
    font-family: 'Rubik', sans-serif;
    color: @darkColor;

    .activity {
        opacity: 0.85;
        transition: opacity 0.5s;
    }

    .activity:hover {
        opacity: 1;
    }
}

// Navigation bar

.navbar.navbar-fixed-top {
    background-image: linear-gradient(280deg, darken(@gradient1, 5%), darken(@gradient2, 5%), darken(@gradient3, 5%), darken(@gradient4, 5%), darken(@gradient1, 5%));
    border-color: fade(@mainColor, 50%);
    .navbar-brand {
        font-family: "Nova Square", monospace;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }
    .navbar-right {
        position: relative;
        left: 135px;
        li {
            .hidden-sm {
                font-family: "Nova Square", sans-serif;
                font-size: 15px;
            }
            transition: background-color 0s;
        }
        li:hover {
            background-color: #4cb9bb;
        }
    }
}

.btn {
    transition: background-color 0.2s ease, background-image 0.2s ease;
}

body.shortcut- {
    /* Background is set in include/index.html */
    .no-result-wrapper, .add_buttons, .total-search-results, .activity {
        background: white;
        border: 1px solid #ddd;
        //border-top-width: 0;
        //border-bottom-width: 0;
    }
    //.no-result-wrapper, .activity:last-child {
    //    border-bottom-width: 1px;
    //    border-bottom-right-radius: 25px;
    //    border-bottom-left-radius: 25px;
    //}
}

h1, h2, h3, h4, h5, h6, .title, .navbar-brand, .btn-lg, .btn-xl {
    &:not(.japanese) {
        font-family: 'Humming', monospace;
        font-weight: bold;
        alignment: center;
        color: @darkColor;
    }
    &.japanese {
        font-weight: bold;
    }
}

.btn-lg small, .btn-xl small {
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

.card {
    @border-radius: 10px;

    //color: white;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: @border-radius;
    border: 1.5px solid white;
    height: auto;
    position: relative;
    text-align: center;
    //max-width: 545px;
    //&:hover, &:focus {
    //    color: white;
    //}
    .card-icon .card-image {
        //background-color: rgba(255, 255, 255, 0.8);
        height: 300px;
        display: inline-block;
        background-size: auto 100%;
        background-position: center center;
        //border: 1.5px solid;
        border-radius: @border-radius;
        //width: 100%;
        &.normal {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
    }
}

// Student

.student {
    padding: 30px 0;
    text-align: center;
    h3 {
        color: @darkColor;
        font-style: italic;
        font-size: 30px;
        padding-top: 20px;
    }
    .student-img {
        display: block;
        margin: auto;
    }
}

.student-info, .student-info {
    .btn-group .btn {
        margin: 45px 0;
    }
    .about-table {
        margin: auto;
        max-width: 768px;
        td:last-child {
            text-align: right;
        }
    }
    .btn-lg {
        color: white;
        text-shadow: 0 0 3px #000000;
    }
    .all-cards, .CV {
        color: @secondaryColor !important;
    }
}

// Card list page

.current-card_list, .current-ownedcard_list, .current-user_item {
    .collection-page-wrapper {
        max-width: 1170px;
        margin: auto;
        padding: 1px 10px;
    }
    .modal-content {
        .card {
            width: auto;
            max-width: 100%;
            .btn.btn-inherit {
                input {
                    width: 40px;
                    color: black;
                }
            }
            padding-left: 10px;
            padding-right: 10px;
            .view-all {
                color: @mainColor;
            }
        }

        .card-art {
            background-image: none !important;
        }

        .progress-bar {
            display: block;
            float: left;
            //width: 50%;
            //height: 20px;
            background-color: #ddd;
            border-radius: 4px;
        }

        table.table.about-table.a-main > tbody > tr > td:nth-child(3) {
            text-align: right;
        }

        h2 {
            text-align: left;
        }
    }
}

// Card item page

.current-card_item {
    .card {
        width: auto;
        max-width: 100%;
        .btn.btn-inherit {
            input {
                width: 40px;
                color: black;
            }
        }
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-art {
        background-image: none !important;
    }

    .progress-bar {
        display: block;
        float: left;
        //width: 50%;
        //height: 20px;
        background-color: #ddd;
        border-radius: 4px;
    }

    table.table.about-table.a-main > tbody > tr > td:nth-child(3) {
        text-align: right;
    }

    h2 {
        text-align: left;
    }
    //.card {
    //    margin: 0 auto;
    //    width: auto;
    //    .btn.btn-inherit {
    //        background-color: deepskyblue;
    //        input {
    //            width: 40px;
    //        }
    //    }
    //}
    //
    //.card-art {
    //    background-image: none !important;
    //}
    //
    //.progress-bar {
    //    display: block;
    //    float: left;
    //    //width: 50%;
    //    //height: 20px;
    //    background-color: #ddd;
    //    border-radius: 4px;
    //}
}

// Card

.card {
    margin: 15px 0;
    text-align: center;
    .card-images {
        position: relative;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .card-image {
        width: auto;
    }
    .share-buttons {
        margin: auto;
        width: auto !important;
        margin-bottom: 30px;
    }
    .btn-group-lg > .btn, .btn-lg {
        padding: 10px 16px;
        color: white;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
    .card-basic-info .btn {
        color: white;
        text-shadow: 0 0 3px #000000;
    }
    .view-all {
        color: @mainColor;
    }
}

.card-icon {
    z-index: 1;
}

.special-icon {
    position: absolute;
    top: 0;
    left: 6.66%;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.75s;
}

.card-images:hover {
    .special-icon {
        opacity: 0;
    }
}

.card-art {
    .special-front, .front-top, .front-bottom, .front-name, .front-rarity {
        opacity: 1;
        transition: opacity 0.75s;
    }
}

.card-art:hover {
    .special-front, .front-top, .front-bottom, .front-name, .front-rarity {
        opacity: 0;
    }
}

.modal .card-info {
    .card-art {
        margin: 0 -15px;
    }
    .card-art {
        .card-stats {
            margin-right: 0;
        }
    }
}

.cuteform-modal-button {
    background-color: @transparent;
    color: black;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    line-height: 10px;
    width: auto;
    .cuteform-elt {
        text-shadow: 0 0 3px #000000;
        border: 0;
        padding: 0;
        margin: 0;
        text-align: center;
        word-wrap: break-word;
    }
}

.card-title {
    //background-color: deepskyblue;
    //border-bottom-width: 1px;
    //border-bottom-right-radius: 20px;
    //border-bottom-left-radius: 20px;
    //border-top-right-radius: 20px;
    //border-top-left-radius: 20px;
    //box-sizing: border-box;
    //margin: 20px;
    h2 {
        color: @darkColor;
        font-style: italic;
    }
}

.card-buttons {
    @buttonsize: 50px;
    font-size: @buttonsize;
    line-height: @buttonsize;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-shadow: 0 0 5px #000000;
    text-decoration: none;
}

.card .card-buttons form {
    font-size: 0.5em;
    display: inline-block;
    line-height: 1em;
}

/* Style the tab */
div.tab {
    width: 99.99999%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    width: 33.3333%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: lightblue;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: deepskyblue;
}

/* Style the tab content */
.tabcontent {
    width: 99.99999%;
    display: none;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    background-color: ghostwhite;
    font-size: 15px;
}

.tabcontent .row {
    padding-left: 100px;
    padding-right: 100px;
}

.progress-label {
    float: left;
    //margin-left: 30px;
    width: 33.3333%;
}

.progress-value {
    float: left;
    width: 16.6667%;
}

.progress-bar {
    float: right;
    width: 50%;
    height: 20px;
    border-radius: 4px;
}

#hp {
    background-color: #47B33B;
}

#sp {
    background-color: #CA45DF;
}

#atk {
    background-color: #D22C30;
}

#def {
    background-color: #3884D2;
}

.stats {
    height: 20px;
    text-align: right; /* Right-align text */
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

// Stage list page

.current-stage_list {
    .col-md-3 .well {
        height: 195px;
        border: none;
        box-shadow: none;
        background-color: white;
        background-image: url("/static/img/stage_border.png");
        background-size: cover;
        transition: background-image 0s;
    }

    .well:hover {
        background-image: url("/static/img/stage_border.png"), url("/static/img/stage_effect.gif");
    }
    .modal-header {
        display: none;
    }
}

// Stage item page

.stage {
    padding: 30px 0;
    text-align: center;
    .student-img {
        display: block;
        margin: auto;
    }
    .row .col-md-8 {
        width: 100%;
    }
}

.stage-data {
    text-align: center;
    button {
        background: linear-gradient(180deg, @gradient4, @gradient3)
    }
    .misc .row {
        display: table;
        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }
    }
    img {
        display: block;
        margin: auto;
    }
    .about-table {
        margin: auto;
        max-width: 768px;
    }
    .bottom-column {
        float: none;
        display: table-cell;
        vertical-align: bottom;
    }
    .difficulties h3 {
        text-transform: uppercase;
        color: black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
        text-align: left;
        margin-left: 10%;
    }
    .reward-title img {
        width: 50%;
    }
    .reward-value {
        text-align: left;
        font-weight: bold;
    }
    .Easy, .Normal, .Hard, .EX {
        border: 5px dashed;
        border-radius: 10px;
    }
    .Easy {
        border-color: #FFE600;
        background-color: rgba(249, 199, 0, 0.1);
        -webkit-text-stroke-color: #DA8203;
    }
    .Normal {
        border-color: #00D086;
        background-color: rgba(3, 255, 151, 0.1);
        -webkit-text-stroke-color: #148F49;
    }
    .Hard {
        border-color: #B0078A;
        background-color: rgba(140, 30, 200, 0.1);
        -webkit-text-stroke-color: #8E1B78;
    }
    .EX {
        border-color: #770909;
        background-color: rgba(249, 0, 0, 0.1);
        -webkit-text-stroke-color: #8B0E0E;
    }
    .irous {
        td {
            height: 150px;
            vertical-align: middle;
            font-size: 18px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

// Irous item page
.irousinfo .icon img {
    display: block;
    margin: auto;
}

// Student list page

.current-student_list {
    .student-wrapper {
        img.student-img:hover {
            opacity: .6;
            transform: scale(1.15);
        }
        img.student-img {
            transition: all 0.2s ease-out;
        }
    }
    .row {
        display: table;
        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: bottom;
        }
    }
}

// Leaderboard

.current-account_list {
    .well {
        background-image: url("/static/img/acc_bg.png");
        background-repeat: repeat;
        a {
            color: @darkColor;
        }
        h3 {
            color: white;
            font-size: 50px;
            text-shadow: 2px 2px 3px @darkColor;
        }
    }
    .well:hover {
        background-image: url("/static/img/acc_bg_star.gif");
    }
}

// Profile page

.current-user_item {
    background-attachment: fixed;
    background-image: url("/static/img/profile_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .btn.btn-link.btn-sm {
      color: @darkColor;
    }

    .btn-secondary {
        display: none;
    }

    .item-container {
        background-color: white;

        .jumbotron p {
            font-size: 17px;
            font-weight: bold;
            color: @darkColor;
        }

        .btn.btn-lg.btn-main {
            text-shadow: 0 0 5px #545454;
        }

        .btn.btn-main img {
            filter: drop-shadow(0px 0px 4px #545454);
        }

        .profile-tabs a{
            text-shadow: 0 0 5px #545454;
        }

        #profile.jumbotron.jumbotron-main {
            background-image: url("/static/img/acc_bg.png");
        }

        .profile-level {
            color: white;
        }

        .profile-info {
            color: white;
        }

        border-left: 1px solid #0070c6;
        border-right: 1px solid #0070c6;
        box-shadow: 0 5px 10px rgba(127, 255, 250, 0.8), 0 5px 10px rgba(127, 255, 250, 0.8);
    }

    ul.nav.nav-tabs {
        li a {
            color: @darkColor;
        }
    }
  
    .modal-content {
        input {
            width: 40px;
            color: black;
        }
        .progress-bar {
            width: 554px;
            display: block;
            float: left;
            //width: 50%;
            //height: 20px;
            background-color: #ddd;
            border-radius: 4px;
        }

        table.table.about-table.a-main > tbody > tr > td:nth-child(3) {
            text-align: right;
        }

        h2 {
            text-align: left;
        }
    }
}

.profile-account {
    margin-bottom: 30px;
    .profile-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px
    }
    .profile-level {
        font-size: 30px;
        text-shadow: 0 0 5px #545454;
    }
    .nickname {
        font-size: 40px;
        text-shadow: 0 0 5px #545454;
    }
    .game-id {
        text-shadow: 0 0 5px #545454;
    }
    .tab-content {
        border: 1px solid deepskyblue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 30px;
        h4 {
            font-size: 25px;
            font-family: 'Teko', monospace;
            text-decoration: underline;
            text-align: center;
        }
    }
    .btn {
        float: right;
        padding: 6px 12px;
        background-color: #0e75ff;
        border-color: #046fff;
        color: white;
        transition: background-color 0s, border-color 0s;
    }
    .btn:hover {
        background-color: #005dda;
        border-color: #0054c6;
    }

    div.col-xs-3 {
        height: 218px;
    }
}

// Filter cute form

.current-student_list {
    #id_i_school_year + .cuteform, #id_i_star_sign + .cuteform {
    h3 {
        text-shadow: 0 0 3px @darkColor;
    }
    #id_i_star_sign + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 22px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }

    #id_i_school_year + .cuteform .cuteform-elt:not([data-cuteform-val=""]) {
        width: 35px;
    }

    .modal-body {
        img.cuteform-elt:not(:first-child) {
            width: 100px;
            height: 50px;
        }
    }
}

.current-card_list, .current-ownedcard_list {
    #id_i_rarity + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            border-radius: 8px;
            padding: 3px;
            width: 60px;
            height: 30px;
        }
    }
    #id_i_weapon + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 25px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }
    .modal-body {
        img.cuteform-elt:not(:first-child) {
            width: 140px;
            height: 160px;
            border-radius: 0;
        }
    }
}

.current-weapon_list {
    #id_i_type + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 25px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }
}

.current-account_list {
    #id_i_os + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 50px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }
}

// Owned card and deck builder
.ownedcard img {
    display: block;
    margin: auto;
    padding: 5px 0 5px 0;

.builder-content-container, .card-pool {
    .icon {
        position: relative;
    }
    .weapon-icon {
        width: 25%;
        position: absolute;
        bottom: -1%;
        left: -1%;
    }
    .rarity-icon {
        width: 25%;
        position: absolute;
        top: -1%;
        left: -1%;
    }
}

.builder-content-container {
    .card {
        padding: 0 0 100% 0;
        position: relative;
        background: url('/static/img/iconframe.png') no-repeat;
        background-size: contain;
        background-color: white;
        border: 0;
    }
    .partners .card {
        width: 85%;
        padding-bottom: 85%;
    }
    img {
        width: 100%;
    }
    .card-block {
        position: absolute;
    }
    .clear-button .btn {
        background: linear-gradient(80deg, @gradient2, @gradient1)
    }
    .row {
        background: url('/static/img/deckconnection.png') no-repeat;
        background-size: cover;
    }
}

.results {
    td {
        padding: 5px;
    }
    .stats-table {
        width: 100%;
    }
    .nakayoshi {
        .nakayoshi-name {
            text-align: center;
            width: 100%;
        }
        .column-title {
            width: 15%;
            text-align: left;
        }
    }
    .stats, .nakayoshi {
        text-align: right;
        color: black;
        .stat-name {
            text-align: left;
        }
    }
}

.card-pool-filter {
    span[data-on] {
        filter: grayscale(100%) brightness(50%);
    }
    padding-bottom: 5%;
    .clear-filters-button .btn {
        background: linear-gradient(80deg, @gradient2, @gradient1)
    }
}

.card-pool {
    position: absolute;
    width: 100%;

    div[data-invalid-card] {
        filter: grayscale(50%) brightness(30%);
    }

    div[data-selected-card] {
        filter: grayscale(100%) brightness(100%);
    }

    img {
        width: 100%;
    }

    .card-title {
        font-size: 10px;
    }
}

 // Banner
  
.banner-0{background-color:#a9a9a9;background-blend-mode:luminosity}// Evina
.banner-1{background-color:#F08080;background-blend-mode:luminosity}// Miki
.banner-2{background-color:#32CD32;background-blend-mode:luminosity}// Subaru
.banner-3{background-color:#AFEEEE;background-blend-mode:luminosity}// Haruka
.banner-4{background-color:#ffc423;background-blend-mode:luminosity}// Nozomi
.banner-5{background-color:#ff9623;background-blend-mode:luminosity}// Yuri
.banner-6{background-color:#ADFF2F;background-blend-mode:luminosity}// Kurumi
.banner-7{background-color:#DB7093;background-blend-mode:luminosity}// Anko
.banner-8{background-color:#DA70D6;background-blend-mode:luminosity}// Renge
.banner-9{background-color:#6495ED;background-blend-mode:luminosity}// Asuha
.banner-10{background-color:#DEB887;background-blend-mode:luminosity}// Sakura
.banner-11{background-color:#f8ff2a;background-blend-mode:luminosity}// Hinata
.banner-12{background-color:#DDA0DD;background-blend-mode:luminosity}// Kaede
.banner-13{background-color:#FFF8DC;background-blend-mode:luminosity}// Michelle
.banner-14{background-color:#E0FFFF;background-blend-mode:luminosity}// Kokomi
.banner-15{background-color:#FFC0CB;background-blend-mode:luminosity}// Urara
.banner-16{background-color:#3CB371;background-blend-mode:luminosity}// Sadone
.banner-17{background-color:#EEE8AA;background-blend-mode:luminosity}// Kanon
.banner-18{background-color:#5F9EA0;background-blend-mode:luminosity}// Shiho
.banner-19{background-color:#b22222;background-blend-mode:luminosity}// Misaki
.banner-101{background-color:#f5f5f5;background-blend-mode:luminosity}// Mari
.banner-102{background-color:#4169e1;background-blend-mode:luminosity}// Icchan
.banner-103{background-color:#cd5c5c;background-blend-mode:luminosity}// Fuuchan
.banner-104{background-color:#6495ED;background-blend-mode:luminosity}// Loliazu

  // Sign up page
  .current-signup { // Hide sign up btn
    .btn.btn-lg.btn-link {
        display: none;
    }
}