@import "main.less";
@import "mixins/buttons.less";
@import "mixins/a.less";

@mainColor: #00CED1;
@secondaryColor: #3664a8;
@darkColor: #545454;

@gradient1: #00bfff;
@gradient2: #a68dfc;
@gradient3: #71c4ff;
@gradient4: #79e098;

// Character colors
@charaFillColor0: #000000; @charaBgColor0: #464646; // Iris, used for empty
@charaFillColor1: #ff5c5d; @charaBgColor1: #F08080; // Miki
@charaFillColor2: #20c45a; @charaBgColor2: #32CD32; // Subaru
@charaFillColor3: #01b5ff; @charaBgColor3: #AFEEEE; // Haruka
@charaFillColor4: #de9746; @charaBgColor4: #FFC423; // Nozomi
@charaFillColor5: #e88e23; @charaBgColor5: #FF9623; // Yuri
@charaFillColor6: #add41b; @charaBgColor6: #ADFF2F; // Kurumi
@charaFillColor7: #c44f5f; @charaBgColor7: #DB7093; // Anko
@charaFillColor8: #e26fe9; @charaBgColor8: #DA70D6; // Renge
@charaFillColor9: #3365ff; @charaBgColor9: #6495ED; // Asuha
@charaFillColor10: #b4a073; @charaBgColor10: #DEB887; // Sakura
@charaFillColor11: #c8ab21; @charaBgColor11: #dfe430; // Hinata
@charaFillColor12: #d54cfe; @charaBgColor12: #DDA0DD; // Kaede
@charaFillColor13: #f7a343; @charaBgColor13: #f7d284; // Michelle
@charaFillColor14: #00c0b8; @charaBgColor14: #91c0ba; // Kokomi
@charaFillColor15: #ff648e; @charaBgColor15: #FFC0CB; // Urara
@charaFillColor16: #3CB371; @charaBgColor16: #43b193; // Sadone
@charaFillColor17: #d4ad1b; @charaBgColor17: #EEE8AA; // Kanon
@charaFillColor18: #56b1d9; @charaBgColor18: #5F9EA0; // Shiho
@charaFillColor19: #B22222; @charaBgColor19: #da4f46; // Misaki
@charaFillColor101: #9c9c9c; @charaBgColor101: #ebebeb; // Mari
@charaFillColor102: #2749ca; @charaBgColor102: #4169E1; // Icchan
@charaFillColor103: #dd4c4a; @charaBgColor103: #CD5C5C; // Fuuchan
@charaFillColor104: #3365ff; @charaBgColor104: #6495ED; // Loliazu

@font-face {
    font-family: 'Humming'; /*a name to be used later*/
    src: url('/static/font/HummingSTD.otf'); /*URL to font*/
}

@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 700;
    src: local("Teko Bold"), local("Teko-Bold"), url("https://fonts.gstatic.com/s/teko/v6/vZNHrtAXYeQN4tfAPqsxxw.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    src: local('Nova Square'), local('NovaSquare'), url(http://fonts.gstatic.com/s/novasquare/v8/YsNHj2Yx5KzHzIjNe-czdI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    src: local('Electrolize'), local('Electrolize-Regular'), url(http://fonts.gstatic.com/s/electrolize/v5/DDy9sgU2U7S4xAwH5thnJ44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
    .setup-sidebar(@mainColor);
    .magicircles(@mainColor, @secondaryColor);
}

//////////////////////////////////////////////////////////
// Universal settings
//////////////////////////////////////////////////////////

.btn {
    transition: background-color 0.2s ease, background-image 0.2s ease;
}

body {
    font-family: 'Rubik', sans-serif;
    color: @darkColor;

    .activity {
        opacity: 0.85;
        transition: opacity 0.5s;
    }

    .activity:hover {
        opacity: 1;
    }
}

body.shortcut- {
    /* Background is set in include/index.html */
    .no-result-wrapper, .add_buttons, .total-search-results, .activity {
        background: white;
        border: 1px solid #ddd;
        //border-top-width: 0;
        //border-bottom-width: 0;
    }
}

h1, h2, h3, h4, h5, h6, .title, .navbar-brand, .btn-lg, .btn-xl {
    &:not(.japanese) {
        font-family: 'Humming', monospace;
        font-weight: bold;
        alignment: center;
        color: @darkColor;
    }
    &.japanese {
        font-weight: bold;
    }
}

.btn-lg small, .btn-xl small {
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

// THIS IS NOT A CLASS FOR IN-GAME CARD! THIS IS A BOOTSTRAP CLASS
.card {
    @border-radius: 10px;

    //color: white;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: @border-radius;
    border: 1.5px solid white;
    height: auto;
    position: relative;
    text-align: center;
    .card-icon .card-image {
        height: 300px;
        display: inline-block;
        background-size: auto 100%;
        background-position: center center;
        border-radius: @border-radius;
        &.normal {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
    }
}

// Character color for url and button
.id-0{a{color:@charaBgColor0}.btn{background-color:@charaFillColor0}.well,.jumbotron{background-color:@charaBgColor0}.student-info h4,h3{color:@charaFillColor0}.table-buttons td{background-color:@charaBgColor0 !important;}.profile-header{background:linear-gradient(120deg,@charaFillColor0 35%,@charaBgColor0 100%)}}
.id-1{a{color:@charaBgColor1}.btn{background-color:@charaFillColor1}.well,.jumbotron{background-color:@charaBgColor1}.student-info h4,h3{color:@charaFillColor1}.table-buttons td{background-color:@charaBgColor1 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor1 35%,@charaFillColor1 100%)}}
.id-2{a{color:@charaBgColor2}.btn{background-color:@charaFillColor2}.well,.jumbotron{background-color:@charaBgColor2}.student-info h4,h3{color:@charaFillColor2}.table-buttons td{background-color:@charaBgColor2 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor2 35%,@charaFillColor2 100%)}}
.id-3{a{color:@charaBgColor3}.btn{background-color:@charaFillColor3}.well,.jumbotron{background-color:@charaBgColor3}.student-info h4,h3{color:@charaFillColor3}.table-buttons td{background-color:@charaBgColor3 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor3 35%,@charaFillColor3 100%)}}
.id-4{a{color:@charaBgColor4}.btn{background-color:@charaFillColor4}.well,.jumbotron{background-color:@charaBgColor4}.student-info h4,h3{color:@charaFillColor4}.table-buttons td{background-color:@charaBgColor4 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor4 35%,@charaFillColor4 100%)}}
.id-5{a{color:@charaBgColor5}.btn{background-color:@charaFillColor5}.well,.jumbotron{background-color:@charaBgColor5}.student-info h4,h3{color:@charaFillColor5}.table-buttons td{background-color:@charaBgColor5 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor5 35%,@charaFillColor5 100%)}}
.id-6{a{color:@charaBgColor6}.btn{background-color:@charaFillColor6}.well,.jumbotron{background-color:@charaBgColor6}.student-info h4,h3{color:@charaFillColor6}.table-buttons td{background-color:@charaBgColor6 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor6 35%,@charaFillColor6 100%)}}
.id-7{a{color:@charaBgColor7}.btn{background-color:@charaFillColor7}.well,.jumbotron{background-color:@charaBgColor7}.student-info h4,h3{color:@charaFillColor7}.table-buttons td{background-color:@charaBgColor7 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor7 35%,@charaFillColor7 100%)}}
.id-8{a{color:@charaBgColor8}.btn{background-color:@charaFillColor8}.well,.jumbotron{background-color:@charaBgColor8}.student-info h4,h3{color:@charaFillColor8}.table-buttons td{background-color:@charaBgColor8 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor8 35%,@charaFillColor8 100%)}}
.id-9{a{color:@charaBgColor9}.btn{background-color:@charaFillColor9}.well,.jumbotron{background-color:@charaBgColor9}.student-info h4,h3{color:@charaFillColor9}.table-buttons td{background-color:@charaBgColor9 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor9 35%,@charaFillColor9 100%)}}
.id-10{a{color:@charaBgColor10}.btn{background-color:@charaFillColor10}.well,.jumbotron{background-color:@charaBgColor10}.student-info h4,h3{color:@charaFillColor10}.table-buttons td{background-color:@charaBgColor10 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor10 35%,@charaFillColor10 100%)}}
.id-11{a{color:@charaBgColor11}.btn{background-color:@charaFillColor11}.well,.jumbotron{background-color:@charaBgColor11}.student-info h4,h3{color:@charaFillColor11}.table-buttons td{background-color:@charaBgColor11 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor11 35%,@charaFillColor11 100%)}}
.id-12{a{color:@charaBgColor12}.btn{background-color:@charaFillColor12}.well,.jumbotron{background-color:@charaBgColor12}.student-info h4,h3{color:@charaFillColor12}.table-buttons td{background-color:@charaBgColor12 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor12 35%,@charaFillColor12 100%)}}
.id-13{a{color:@charaBgColor13}.btn{background-color:@charaFillColor13}.well,.jumbotron{background-color:@charaBgColor13}.student-info h4,h3{color:@charaFillColor13}.table-buttons td{background-color:@charaBgColor13 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor13 35%,@charaFillColor13 100%)}}
.id-14{a{color:@charaBgColor14}.btn{background-color:@charaFillColor14}.well,.jumbotron{background-color:@charaBgColor14}.student-info h4,h3{color:@charaFillColor14}.table-buttons td{background-color:@charaBgColor14 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor14 35%,@charaFillColor14 100%)}}
.id-15{a{color:@charaBgColor15}.btn{background-color:@charaFillColor15}.well,.jumbotron{background-color:@charaBgColor15}.student-info h4,h3{color:@charaFillColor15}.table-buttons td{background-color:@charaBgColor15 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor15 35%,@charaFillColor15 100%)}}
.id-16{a{color:@charaBgColor16}.btn{background-color:@charaFillColor16}.well,.jumbotron{background-color:@charaBgColor16}.student-info h4,h3{color:@charaFillColor16}.table-buttons td{background-color:@charaBgColor16 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor16 35%,@charaFillColor16 100%)}}
.id-17{a{color:@charaBgColor17}.btn{background-color:@charaFillColor17}.well,.jumbotron{background-color:@charaBgColor17}.student-info h4,h3{color:@charaFillColor17}.table-buttons td{background-color:@charaBgColor17 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor17 35%,@charaFillColor17 100%)}}
.id-18{a{color:@charaBgColor18}.btn{background-color:@charaFillColor18}.well,.jumbotron{background-color:@charaBgColor18}.student-info h4,h3{color:@charaFillColor18}.table-buttons td{background-color:@charaBgColor18 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor18 35%,@charaFillColor18 100%)}}
.id-19{a{color:@charaBgColor19}.btn{background-color:@charaFillColor19}.well,.jumbotron{background-color:@charaBgColor19}.student-info h4,h3{color:@charaFillColor19}.table-buttons td{background-color:@charaBgColor19 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor19 35%,@charaFillColor19 100%)}}
.id-101{a{color:@charaBgColor101}.btn{background-color:@charaFillColor101}.well,.jumbotron{background-color:@charaBgColor101}.student-info h4,h3{color:@charaFillColor101}.table-buttons td{background-color:@charaBgColor101 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor101 35%,@charaFillColor101 100%)}}
.id-102{a{color:@charaBgColor102}.btn{background-color:@charaFillColor102}.well,.jumbotron{background-color:@charaBgColor102}.student-info h4,h3{color:@charaFillColor102}.table-buttons td{background-color:@charaBgColor102 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor102 35%,@charaFillColor102 100%)}}
.id-103{a{color:@charaBgColor103}.btn{background-color:@charaFillColor103}.well,.jumbotron{background-color:@charaBgColor103}.student-info h4,h3{color:@charaFillColor103}.table-buttons td{background-color:@charaBgColor103 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor103 35%,@charaFillColor103 100%)}}
.id-104{a{color:@charaBgColor104}.btn{background-color:@charaFillColor104}.well,.jumbotron{background-color:@charaBgColor104}.student-info h4,h3{color:@charaFillColor104}.table-buttons td{background-color:@charaBgColor104 !important;}.profile-header{background:linear-gradient(120deg,@charaBgColor104 35%,@charaFillColor104 100%)}}



//////////////////////////////////////////////////////////
// Main page
//////////////////////////////////////////////////////////
.current-activity_list {
    .home-site-description {
        background-image: url("/static/img/home-site-description-bg.png");
        background-size: 800px 65px;
        background-position: center top;
        background-repeat: no-repeat;
        color: #ffffff;
        text-shadow: 2px 2px 3px @darkColor;
        font-family: 'Electrolize', monospace;
        font-style: italic;
        font-size: 30px;
        line-height: 65px;
        height: 65px;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .home-about-game-button {
        font-family: 'Electrolize', monospace !important;
        font-style: italic;
        font-size: 20px;
        color: black !important;
    }

    .home-about-site-button {
        font-family: 'Electrolize', monospace !important;
        font-style: italic;
        font-size: 20px;
        color: black !important;
    }

    .padding50.no-result-wrapper {
        background: transparent;
        border: none;
    }

    .nav-tabs {
        li {
            a {
                color: @darkColor;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        li.active {
            a {
                color: @mainColor;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    background-image: url("/static/img/mainpage_bg.jpg");
    background-size: cover; // Make image not resize
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;

    #wrapper {
        background-image: url("/static/img/light_orbs/small.png"),
        url("/static/img/light_orbs/normal.png"),
        url("/static/img/light_orbs/big.png");
        background-attachment: fixed;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-animation: wrapper 20s linear infinite;
        -moz-animation: wrapper 20s linear infinite;
        -ms-animation: wrapper 20s linear infinite;
        animation: wrapper 20s linear infinite;
    }
    @keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
    @-moz-keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
    @-webkit-keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
    @-ms-keyframes wrapper {
        0% {
            background-position: 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 0 -1000px, 0 -500px, 0 -300px;
        }
    }
}

//////////////////////////////////////////////////////////
// Navigation bar
//////////////////////////////////////////////////////////
.navbar.navbar-fixed-top {
    background-image: linear-gradient(280deg, darken(@gradient1, 5%), darken(@gradient2, 5%), darken(@gradient3, 5%), darken(@gradient4, 5%), darken(@gradient1, 5%));
    border-color: fade(@mainColor, 50%);
    .navbar-brand {
        font-family: "Nova Square", monospace;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }
    .navbar-right {
        position: relative;
        left: 135px;
        li {
            .hidden-sm {
                font-family: "Nova Square", sans-serif;
                font-size: 15px;
            }
            transition: background-color 0s;
        }
        li:hover {
            background-color: #4cb9bb;
        }
    }
}

//////////////////////////////////////////////////////////
// Student
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
// Student list page
.current-student_list {
    .student-wrapper {
        img.student-img:hover {
            opacity: .6;
            transform: scale(1.15);
        }
        img.student-img {
            transition: all 0.2s ease-out;
        }
    }
    .row {
        display: table;
        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: bottom;
        }
    }
    h3 {
        font-style: italic;
        font-size: 30px;
        padding-top: 20px;
    }
}

//////////////////////////////////////////////////////////
// Student item page

.student {
    padding: 30px 0;
    text-align: center;
    .student-img {
        display: block;
        margin: auto;
    }
}

.student-info {
    .btn-group .btn {
        margin: 45px 0;
    }
    .about-table {
        margin: auto;
        max-width: 768px;
        td:last-child {
            text-align: right;
        }
    }
    .btn-lg {
        color: white;
        text-shadow: 0 0 3px #000000;
    }
    .all-cards, .CV {
        color: @secondaryColor !important;
    }
}

//////////////////////////////////////////////////////////
// Cards
//////////////////////////////////////////////////////////
.card {
    margin: 15px 0;
    text-align: center;
    .card-images {
        position: relative;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .card-image {
        width: auto;
    }
    .share-buttons {
        margin: auto;
        width: auto !important;
        margin-bottom: 30px;
    }
    .btn-group-lg > .btn, .btn-lg {
        padding: 10px 16px;
        color: white;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
    .card-basic-info .btn {
        color: white;
        text-shadow: 0 0 3px #000000;
    }
    .view-all {
        color: @mainColor;
    }
}

//////////////////////////////////////////////////////////
// Card list page, on card list, profile and owned card list
.current-card_list, .current-ownedcard_list, .current-user_item {
    .collection-page-wrapper {
        max-width: 1170px;
        margin: auto;
        padding: 1px 10px;
    }
    .card-title {
        h2 {
            color: @darkColor;
            font-style: italic;
        }
    }
    .modal-content {
        .card {
            width: auto;
            max-width: 100%;
            .btn.btn-inherit {
                input {
                    width: 40px;
                    color: black;
                }
            }
            padding-left: 10px;
            padding-right: 10px;
            .view-all {
                color: @mainColor;
            }
        }

        .card-art {
            background-image: none !important;
        }

        .progress-bar {
            display: block;
            float: left;
            background-color: #ddd;
            border-radius: 4px;
        }

        table.table.about-table.a-main > tbody > tr > td:nth-child(3) {
            text-align: right;
        }

        h2 {
            text-align: left;
        }
    }
}

//////////////////////////////////////////////////////////
// Card list page

.current-card_list {
    .card-icon {
        z-index: 1;
    }

    .special-icon {
        position: absolute;
        top: 0;
        left: 6.66%;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.75s;
    }

    .card-images:hover {
        .special-icon {
            opacity: 0;
        }
    }

    .card-buttons {
        @buttonsize: 50px;
        font-size: @buttonsize;
        line-height: @buttonsize;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-shadow: 0 0 5px #000000;
        text-decoration: none;
    }

    .card .card-buttons form {
        font-size: 0.5em;
        display: inline-block;
        line-height: 1em;
    }
}

//////////////////////////////////////////////////////////
// Card item page

.current-card_item {
    .card {
        width: auto;
        max-width: 100%;
        .btn.btn-inherit {
            input {
                width: 40px;
                color: black;
            }
        }
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-art {
        background-image: none !important;
        margin: 0 -15px;
        .special-front, .front-top, .front-bottom, .front-name, .front-rarity {
            opacity: 1;
            transition: opacity 0.75s;
        }
    }
    .card-art:hover {
        .special-front, .front-top, .front-bottom, .front-name, .front-rarity {
            opacity: 0;
        }
    }
    .card-stats {
        margin-right: 0;
    }

    .progress-bar {
        display: block;
        float: left;
        background-color: #ddd;
        border-radius: 4px;
    }

    table.table.about-table.a-main > tbody > tr > td:nth-child(3) {
        text-align: right;
    }

    h2 {
        text-align: left;
    }

    #hp {
        background-color: #47B33B;
    }

    #sp {
        background-color: #CA45DF;
    }

    #atk {
        background-color: #D22C30;
    }

    #def {
        background-color: #3884D2;
    }
}

//////////////////////////////////////////////////////////
// Stage
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
// Stage list page

.current-stage_list {
    .col-md-3 .well {
        height: 195px;
        border: none;
        box-shadow: none;
        background-color: white;
        background-image: url("/static/img/stage_border.png");
        background-size: cover;
        transition: background-image 0s;
    }

    .well:hover {
        background-image: url("/static/img/stage_border.png"), url("/static/img/stage_effect.gif");
    }
    .modal-header {
        display: none;
    }
}

//////////////////////////////////////////////////////////
// Stage item page

.stage {
    padding: 30px 0;
    text-align: center;
    .student-img {
        display: block;
        margin: auto;
    }
    .row .col-md-8 {
        width: 100%;
    }
}

.stage-data {
    text-align: center;
    button {
        background: linear-gradient(180deg, @gradient4, @gradient3)
    }
    .misc .row {
        display: table;
        [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }
    }
    img {
        display: block;
        margin: auto;
    }
    .about-table {
        margin: auto;
        max-width: 768px;
    }
    .bottom-column {
        float: none;
        display: table-cell;
        vertical-align: bottom;
    }
    .difficulties h3 {
        text-transform: uppercase;
        color: black;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
        text-align: left;
        margin-left: 10%;
    }
    .reward-title img {
        width: 50%;
    }
    .reward-value {
        text-align: left;
        font-weight: bold;
    }
    .Easy, .Normal, .Hard, .EX {
        border: 5px dashed;
        border-radius: 10px;
    }
    .Easy {
        border-color: #FFE600;
        background-color: rgba(249, 199, 0, 0.1);
        -webkit-text-stroke-color: #DA8203;
    }
    .Normal {
        border-color: #00D086;
        background-color: rgba(3, 255, 151, 0.1);
        -webkit-text-stroke-color: #148F49;
    }
    .Hard {
        border-color: #B0078A;
        background-color: rgba(140, 30, 200, 0.1);
        -webkit-text-stroke-color: #8E1B78;
    }
    .EX {
        border-color: #770909;
        background-color: rgba(249, 0, 0, 0.1);
        -webkit-text-stroke-color: #8B0E0E;
    }
    .irous {
        td {
            height: 150px;
            vertical-align: middle;
            font-size: 18px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

//////////////////////////////////////////////////////////
// Irous
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
// Irous item page
.irousinfo .icon img {
    display: block;
    margin: auto;
}

//////////////////////////////////////////////////////////
// Leaderboard
//////////////////////////////////////////////////////////
.current-account_list {
    .well {
        background-image: url("/static/img/acc_bg.png");
        background-repeat: repeat;
        a {
            color: @darkColor;
        }
        h3 {
            color: black;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            font-size: 50px;
        }

        // Color blending, see below
        background-blend-mode:overlay;
    }

    .well:hover {
        background-image: url("/static/img/acc_bg_star.gif");
    }
}

//////////////////////////////////////////////////////////
// Profile page
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
// Per user
.current-user_item {
    background-attachment: fixed;
    background-image: url("/static/img/profile_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .jumbotron {
        background-blend-mode:overlay;
    }

    .btn.btn-link.btn-sm {
      color: @darkColor;
    }

    .btn-secondary {
        display: none;
    }

    .item-container {
        background-color: white;

        .jumbotron p {
            font-size: 17px;
            font-weight: bold;
            color: @darkColor;
        }

        .btn.btn-lg.btn-main {
            text-shadow: 0 0 5px #545454;
        }

        .btn.btn-main img {
            filter: drop-shadow(0px 0px 10px #545454);
        }

        .profile-tabs a, h1{
            color: black;
            text-shadow: 0 0 5px #ffffff;
        }

        #profile.jumbotron.jumbotron-main {
            background-image: url("/static/img/acc_bg.png");
        }

        .profile-level {
            color: white;
        }

        .profile-info {
            color: white;
        }

        border-left: 1px solid #0070c6;
        border-right: 1px solid #0070c6;
        box-shadow: 0 5px 10px rgba(127, 255, 250, 0.8), 0 5px 10px rgba(127, 255, 250, 0.8);
    }

    ul.nav.nav-tabs {
        li a {
            color: @darkColor;
        }
    }

    // Owned cards
    .modal-content {
        input {
            width: 40px;
            color: black;
        }
        .progress-bar {
            width: 554px;
            display: block;
            float: left;
            //width: 50%;
            //height: 20px;
            background-color: #ddd;
            border-radius: 4px;
        }

        table.table.about-table.a-main > tbody > tr > td:nth-child(3) {
            text-align: right;
        }

        h2 {
            text-align: left;
        }
    }
    .following, .followers{
        color: black;
        text-shadow: 0 0 5px #ffffff;
    }
    .report {
        color: black;
        text-shadow: 0 0 5px #ffffff;
    }
}

//////////////////////////////////////////////////////////
// Per account
.profile-account {
    margin-bottom: 30px;
    .profile-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px;
    }
    .profile-level {
        font-size: 30px;
        text-shadow: 0 0 5px #545454;
    }
    .nickname {
        font-size: 40px;
        text-shadow: 0 0 5px #545454;
    }
    .game-id {
        text-shadow: 0 0 5px #545454;
    }
    .tab-content {
        border: 1px solid deepskyblue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 30px;
        h4 {
            font-size: 25px;
            font-family: 'Teko', monospace;
            text-decoration: underline;
            text-align: center;
        }
    }
    .btn {
        float: right;
        padding: 6px 12px;
        background-color: #0e75ff;
        border-color: #046fff;
        color: white;
        transition: background-color 0s, border-color 0s;
    }
    .btn:hover {
        background-color: #005dda;
        border-color: #0054c6;
    }

    div.col-xs-3 {
        height: 218px;
    }
}

//////////////////////////////////////////////////////////
// Deckbuilder
.tab-content {
    .builder-content-container, .card-pool {
        .icon {
            position: relative;
        }
        .weapon-icon {
            width: 25%;
            position: absolute;
            bottom: -1%;
            left: -1%;
        }
        .rarity-icon {
            width: 25%;
            position: absolute;
            top: -1%;
            left: -1%;
        }
    }

    .builder-content-container {
        .card {
            padding: 0 0 100% 0;
            position: relative;
            background: url('/static/img/iconframe.png') no-repeat;
            background-size: contain;
            background-color: white;
            border: 0;
        }
        .partners .card {
            width: 85%;
            padding-bottom: 85%;
        }
        img {
            width: 100%;
        }
        .card-block {
            position: absolute;
        }
        .clear-button .btn {
            background: linear-gradient(80deg, @gradient2, @gradient1)
        }
        .row {
            background: url('/static/img/deckconnection.png') no-repeat;
            background-size: cover;
        }
    }

    .results {
        td {
            padding: 5px;
        }
        .stats-table {
            width: 100%;
        }
        .nakayoshi {
            .nakayoshi-name {
                text-align: center;
                width: 100%;
            }
            .column-title {
                width: 15%;
                text-align: left;
            }
        }
        .stats, .nakayoshi {
            text-align: right;
            color: black;
            .stat-name {
                text-align: left;
            }
        }
    }

    .card-pool-filter {
        span[data-on] {
            filter: grayscale(100%) brightness(50%);
        }
        padding-bottom: 5%;
        .clear-filters-button .btn {
            background: linear-gradient(80deg, @gradient2, @gradient1)
        }
    }

    .card-pool {
        position: absolute;
        width: 100%;

        div[data-invalid-card] {
            filter: grayscale(50%) brightness(30%);
        }

        div[data-selected-card] {
            filter: grayscale(100%) brightness(100%);
        }

        img {
            width: 100%;
        }

        .card-title {
            font-size: 10px;
        }
    }
}

//////////////////////////////////////////////////////////
// OwnedCard
//////////////////////////////////////////////////////////
.ownedcard img {
    display: block;
    margin: auto;
    padding: 5px 0 5px 0;
}

//////////////////////////////////////////////////////////
// Sign up page
//////////////////////////////////////////////////////////
.current-signup .btn.btn-lg.btn-link {
        display: none;
}

//////////////////////////////////////////////////////////
// Filter cute form
//////////////////////////////////////////////////////////
.cuteform-modal-button {
    background-color: @transparent;
    color: black;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: auto;
    .cuteform-elt {
        text-shadow: 0 0 3px #000000;
        border: 0;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

.current-student_list {
    #id_i_school_year + .cuteform, #id_i_star_sign + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 22px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }

    #id_i_school_year + .cuteform .cuteform-elt:not([data-cuteform-val=""]) {
        width: 35px;
    }

    .modal-body {
        img.cuteform-elt:not(:first-child) {
            width: 100px;
            height: 50px;
        }
    }
}

.current-card_list, .current-ownedcard_list {
    #id_i_rarity + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            border-radius: 8px;
            padding: 3px;
            width: 60px;
            height: 30px;
        }
    }
    #id_i_weapon + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 25px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }
    .modal-body {
        img.cuteform-elt:not(:first-child) {
            width: 140px;
            height: 160px;
            border-radius: 0;
        }
    }
}

.current-weapon_list {
    #id_i_type + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 25px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }
}

.current-account_list {
    #id_i_os + .cuteform {
        .cuteform-elt:not([data-cuteform-val=""]) {
            background-color: fade(white, 80%);
            border-radius: 8px;
            padding: 3px;
            width: 50px;
            &.cuteform-selected {
                background-color: white;
            }
        }
    }
}

